In [1]:
# Modues to be used
import pandas as pd
import matplotlib.pyplot as plt
import time
import numpy as np
import json
# import csgostats

import pickle

# Global variables
# MASTER_CSV_PATH = '~/Dropbox/csgo-csv/'
MASTER_CSV_PATH = '~/Desktop/csgo-csv/'

In [7]:
# with open('dict_player.pickle','rb') as f:
#    dict_player = pickle.load(f)
f = open('dict_player.pickle', 'rb')

dict_player = pickle.load(f)

In [10]:
dict_player[8797]

,map,date,team_id,team_name,player_id,player_name,kills,hs_kills,assists,flash_assists,...,first_kills_diff,rating,kills_per_round,deaths_per_round,impact,team_score,op_score,win,team_rank,prize
map_id,,,,,,,,,,,,,,,,,,,,,
59738,cch,2018-01-12 23:25:00,5752,Cloud9,8797,Stewie2K,20,9,6,2,...,2,1.22,0.74,0.48,0.95,16,11,1,5,0.000000
59786,inf,2018-01-13 20:00:00,5752,Cloud9,8797,Stewie2K,23,14,4,2,...,3,1.79,1.10,0.43,2.16,16,5,1,5,0.000000
59819,trn,2018-01-14 22:35:00,5752,Cloud9,8797,Stewie2K,17,7,5,2,...,-1,1.20,0.81,0.67,0.78,16,5,1,5,0.000000
59934,cch,2018-01-19 20:15:00,5752,Cloud9,8797,Stewie2K,13,7,5,1,...,-3,0.86,0.54,0.75,0.91,8,16,0,6,0.000000
59964,cbl,2018-01-20 15:50:00,5752,Cloud9,8797,Stewie2K,12,4,5,0,...,-5,0.67,0.41,0.83,0.66,13,16,0,6,0.000000
60001,mrg,2018-01-21 21:35:00,5752,Cloud9,8797,Stewie2K,26,10,2,0,...,2,1.63,1.13,0.61,1.69,16,7,1,6,0.000000
60017,trn,2018-01-22 16:40:00,5752,Cloud9,8797,Stewie2K,19,10,2,0,...,0,1.26,0.86,0.59,1.48,16,6,1,6,0.000000
60031,mrg,2018-01-22 23:15:00,5752,Cloud9,8797,Stewie2K,22,9,1,0,...,4,1.75,1.10,0.50,2.05,16,4,1,6,0.000000
60173,mrg,2018-01-26 20:55:00,5752,Cloud9,8797,Stewie2K,18,12,5,1,...,2,1.37,0.75,0.71,1.19,16,8,1,6,0.000000
60174,ovp,2018-01-26 20:55:00,5752,Cloud9,8797,Stewie2K,20,8,4,0,...,1,1.20,0.87,0.70,1.40,16,7,1,6,0.000000
60198,inf,2018-01-27 22:25:00,5752,Cloud9,8797,Stewie2K,16,4,1,0,...,-3,1.09,0.64,0.48,1.03,16,9,1,6,0.000000
60197,cbl,2018-01-27 22:25:00,5752,Cloud9,8797,Stewie2K,19,10,3,1,...,3,1.16,0.79,0.75,0.96,8,16,0,6,0.000000
60196,mrg,2018-01-27 22:25:00,5752,Cloud9,8797,Stewie2K,14,3,3,0,...,0,1.18,0.74,0.74,1.09,16,3,1,6,0.000000
60219,inf,2018-01-28 18:15:00,5752,Cloud9,8797,Stewie2K,32,15,6,2,...,-1,1.18,0.78,0.71,1.12,22,19,1,6,83333.333333
60217,mrg,2018-01-28 18:15:00,5752,Cloud9,8797,Stewie2K,12,11,4,1,...,-1,0.71,0.40,0.70,0.68,14,16,0,6,0.000000
60218,ovp,2018-01-28 18:15:00,5752,Cloud9,8797,Stewie2K,21,8,4,0,...,1,1.26,0.81,0.65,1.49,16,10,1,6,0.000000
60389,inf,2018-02-01 20:45:00,5752,Cloud9,8797,Stewie2K,23,13,4,0,...,4,1.97,1.28,0.56,2.49,16,2,1,3,0.000000
60398,mrg,2018-02-01 23:00:00,5752,Cloud9,8797,Stewie2K,17,7,9,2,...,4,1.37,0.74,0.61,1.23,16,7,1,3,0.000000
60402,inf,2018-02-02 00:15:00,5752,Cloud9,8797,Stewie2K,13,7,8,1,...,3,1.41,0.68,0.74,1.51,16,3,1,3,0.000000
60455,trn,2018-02-02 19:20:00,5752,Cloud9,8797,Stewie2K,21,11,1,0,...,-4,0.94,0.75,0.79,0.98,16,12,1,3,0.000000
60475,mrg,2018-02-02 23:05:00,5752,Cloud9,8797,Stewie2K,27,22,5,2,...,1,1.70,1.12,0.62,1.76,16,8,1,3,0.000000
60593,mrg,2018-02-03 23:30:00,5752,Cloud9,8797,Stewie2K,22,13,3,2,...,0,1.47,1.05,0.62,1.26,16,5,1,3,0.000000
60591,cch,2018-02-03 23:30:00,5752,Cloud9,8797,Stewie2K,14,6,6,1,...,-2,0.80,0.50,0.75,0.57,16,12,1,3,0.000000
60703,trn,2018-02-05 01:00:00,5752,Cloud9,8797,Stewie2K,17,11,4,2,...,-5,0.95,0.68,0.80,1.02,9,16,0,3,0.000000
60706,inf,2018-02-05 01:00:00,5752,Cloud9,8797,Stewie2K,11,8,3,0,...,-1,0.93,0.50,0.73,0.68,6,16,0,3,1666.666667
60705,ovp,2018-02-05 01:00:00,5752,Cloud9,8797,Stewie2K,17,5,3,1,...,2,1.11,0.65,0.62,1.01,16,10,1,3,0.000000
60932,mrg,2018-02-08 23:40:00,5752,Cloud9,8797,Stewie2K,20,8,4,0,...,-2,1.24,0.77,0.73,1.29,16,10,1,3,0.000000
60931,inf,2018-02-08 23:40:00,5752,Cloud9,8797,Stewie2K,17,10,9,5,...,3,1.55,0.85,0.50,1.75,16,4,1,3,0.000000
60966,mrg,2018-02-09 19:40:00,5752,Cloud9,8797,Stewie2K,20,12,6,3,...,-1,1.22,0.74,0.67,1.32,16,11,1,3,0.000000
60963,cbl,2018-02-09 19:40:00,5752,Cloud9,8797,Stewie2K,11,7,8,7,...,2,1.09,0.55,0.55,0.80,16,4,1,3,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96019,vertigo,2019-12-01 20:00:00,5973,Liquid,8797,Stewie2K,21,9,9,1,...,3,1.06,0.62,0.71,1.38,19,15,1,4,0.000000
96021,nuke,2019-12-01 20:00:00,5973,Liquid,8797,Stewie2K,18,11,2,0,...,3,0.99,0.67,0.70,1.11,11,16,0,4,0.000000
96086,vertigo,2019-12-03 16:15:00,5973,Liquid,8797,Stewie2K,18,7,3,0,...,-2,1.07,0.64,0.68,1.15,16,12,1,3,0.000000
96146,d2,2019-12-04 16:50:00,5973,Liquid,8797,Stewie2K,20,6,9,2,...,0,1.09,0.67,0.67,1.02,16,14,1,3,0.000000
96131,nuke,2019-12-04 16:50:00,5973,Liquid,8797,Stewie2K,10,4,2,1,...,-2,0.85,0.48,0.52,0.43,16,5,1,3,0.000000
96139,vertigo,2019-12-04 16:50:00,5973,Liquid,8797,Stewie2K,19,12,3,2,...,1,0.99,0.68,0.68,1.08,12,16,0,3,0.000000
96177,inf,2019-12-05 15:55:00,5973,Liquid,8797,Stewie2K,25,12,6,0,...,0,1.21,0.83,0.83,1.67,16,14,1,3,0.000000
96184,d2,2019-12-05 15:55:00,5973,Liquid,8797,Stewie2K,12,6,6,2,...,0,0.71,0.41,0.72,0.54,13,16,0,3,0.000000
96181,nuke,2019-12-05 15:55:00,5973,Liquid,8797,Stewie2K,6,1,3,0,...,-2,0.43,0.26,0.83,0.38,7,16,0,3,0.000000
96218,ovp,2019-12-06 14:00:00,5973,Liquid,8797,Stewie2K,15,6,7,2,...,2,1.01,0.56,0.74,1.07,11,16,0,3,0.000000
96222,inf,2019-12-06 14:00:00,5973,Liquid,8797,Stewie2K,12,2,5,1,...,-4,0.70,0.50,0.79,0.84,8,16,0,3,3333.333333
96685,nuke,2019-12-12 15:00:00,5973,Liquid,8797,Stewie2K,14,7,6,0,...,2,0.82,0.50,0.79,0.86,12,16,0,4,0.000000
96692,inf,2019-12-12 15:00:00,5973,Liquid,8797,Stewie2K,16,7,3,0,...,-1,0.89,0.55,0.79,0.71,13,16,0,4,0.000000
96756,mrg,2019-12-13 15:00:00,5973,Liquid,8797,Stewie2K,15,6,5,0,...,-1,0.83,0.52,0.72,0.61,16,13,1,4,0.000000
96765,nuke,2019-12-13 15:00:00,5973,Liquid,8797,Stewie2K,13,8,0,0,...,-5,0.74,0.50,0.69,0.38,16,10,1,4,0.000000
96761,d2,2019-12-13 15:00:00,5973,Liquid,8797,Stewie2K,18,7,7,5,...,-3,0.90,0.64,0.71,0.51,12,16,0,4,0.000000
96815,mrg,2019-12-14 11:00:00,5973,Liquid,8797,Stewie2K,22,7,0,0,...,3,1.15,0.73,0.63,1.17,16,14,1,4,0.000000
96810,ovp,2019-12-14 11:00:00,5973,Liquid,8797,Stewie2K,20,12,4,1,...,2,1.27,0.77,0.65,1.65,16,10,1,4,0.000000
96858,nuke,2019-12-14 16:00:00,5973,Liquid,8797,Stewie2K,17,10,6,0,...,-1,1.00,0.61,0.71,0.99,12,16,0,4,13333.333333
96842,inf,2019-12-14 16:00:00,5973,Liquid,8797,Stewie2K,11,5,5,0,...,-4,0.68,0.41,0.74,0.82,11,16,0,4,0.000000
97430,inf,2020-01-04 21:15:00,10531,Just For Fun,8797,Stewie2K,26,17,8,3,...,3,1.45,0.93,0.64,1.78,16,12,1,0,0.000000
97432,mrg,2020-01-04 21:15:00,10531,Just For Fun,8797,Stewie2K,17,8,6,0,...,0,1.44,0.81,0.48,1.38,16,5,1,0,0.000000
97437,inf,2020-01-04 23:15:00,10531,Just For Fun,8797,Stewie2K,13,7,8,1,...,1,0.91,0.50,0.65,0.81,10,16,0,0,0.000000
97440,ovp,2020-01-04 23:15:00,10531,Just For Fun,8797,Stewie2K,23,13,13,6,...,0,1.31,0.96,0.62,1.12,16,8,1,0,0.000000
97441,mrg,2020-01-04 23:15:00,10531,Just For Fun,8797,Stewie2K,17,8,2,1,...,3,1.16,0.68,0.60,1.10,16,9,1,0,0.000000
97456,mrg,2020-01-05 21:20:00,10531,Just For Fun,8797,Stewie2K,15,9,3,0,...,-1,0.97,0.58,0.69,0.83,16,10,1,0,0.000000
97455,nuke,2020-01-05 21:20:00,10531,Just For Fun,8797,Stewie2K,12,7,3,2,...,-1,0.74,0.44,0.74,0.81,11,16,0,0,0.000000
97459,d2,2020-01-05 21:20:00,10531,Just For Fun,8797,Stewie2K,21,11,7,2,...,1,1.38,0.84,0.60,1.74,16,9,1,0,0.000000
97462,trn,2020-01-06 00:25:00,10531,Just For Fun,8797,Stewie2K,30,13,3,2,...,-1,1.18,0.86,0.66,1.08,19,16,1,0,0.000000
97461,mrg,2020-01-06 00:25:00,10531,Just For Fun,8797,Stewie2K,25,15,3,1,...,5,1.95,1.19,0.57,2.38,16,5,1,0,500.000000

In [51]:
## READ DATE FROM MASTER ##

# Read the data from all years
#year_vec = ['2012','2013','2014','2015','2016','2017','2018','2019']

year_vec = ['2019']

# Empty data frames
df_player = pd.DataFrame( { } )
df_team   = pd.DataFrame( { } )

# Append the data from each year
for year in year_vec:
        
    file_name = MASTER_CSV_PATH + year + '-player-lvl.csv'
    df_player = df_player.append( pd.read_csv( file_name ), ignore_index=True, sort=False )
    
    file_name = MASTER_CSV_PATH + year + '-team-lvl.csv'
    df_team   = df_team.append( pd.read_csv( file_name ), ignore_index=True, sort=False )

In [21]:
#df_new = pd.DataFrame( data=df_team['team_name'].unique(), columns=['Team Name'], index=None )

#df_new.to_csv('team_names.csv')

In [22]:
#df_new = pd.DataFrame( data=df_player['player_name'].unique(), columns=['Player Name'], index=None )

#df_new.to_csv('player_names.csv')

In [89]:
team_id_vec = [
    6665,4494,5973,4991,10399,9565,8474,4608,6667,5995,
    4411,4869,8135,9215,8297,7175,5752,8362,5378    # Missing c0ntact since we have no data
    
    ]
team_name_vec = []

dic_team = {}
dic_team_players = {}

df_player = df_player.sort_values(by='date',ascending=False)

dic_players={}

for ind in range(0,len(team_id_vec)):
    dic_team[team_id_vec[ind]] = {}
    dic_team[team_id_vec[ind]]['team_name'] = df_team[df_team['team_id']==team_id_vec[ind]].team_name.unique()[0]
    
    dic_team_players[team_id_vec[ind]] = {}
    #dic_team_players[team_id_vec[ind]]['player_id'] = {}
    #dic_team_players[team_id_vec[ind]]['player_name'] = {}
    for ind2 in range(0,5):        
        player_id = str(df_player[df_player['team_id']==team_id_vec[ind]].player_id.unique()[ind2])
        dic_team_players[team_id_vec[ind]][player_id] = {}
        dic_team_players[team_id_vec[ind]][player_id]['name'] = {}
        dic_team_players[team_id_vec[ind]][player_id]['name'] = str(df_player[df_player['team_id']==team_id_vec[ind]].player_name.unique()[ind2])

        dic_players[player_id] = {}
        dic_players[player_id]['name'] = str(df_player[df_player['team_id']==team_id_vec[ind]].player_name.unique()[ind2])
        
        # dic_team_players[team_id_vec[ind]]['player_id'][ind2]   = str(df_player[df_player['team_id']==team_id_vec[ind]].player_id.unique()[ind2])
        # dic_team_players[team_id_vec[ind]]['player_name'][ind2] = str(df_player[df_player['team_id']==team_id_vec[ind]].player_name.unique()[ind2])

team_name_vec
#df = pd.Dataframe(  )
dic_team


df_player.head()

#df_player[df_player['team_id']==team_id_vec[0]].player_id.unique()
#df_player[df_player['team_id']==team_id_vec[0]]
#len(df_player)
dic_team_players

json_tmp = json.dumps(dic_team)
f = open("dict_team.json","w")
f.write(json_tmp)
f.close()

json_tmp = json.dumps(dic_team_players)
f = open("dict_team_players.json","w")
f.write(json_tmp)
f.close()

json_tmp = json.dumps(dic_players)
f = open("dict_players.json","w")
f.write(json_tmp)
f.close()

In [93]:
dic_team
dic_team_players
dic_players

{'4954': {'name': 'Xyp9x'},
 '7412': {'name': 'gla1ve'},
 '7398': {'name': 'dupreeh'},
 '9032': {'name': 'Magisk'},
 '7592': {'name': 'device'},
 '429': {'name': 'karrigan'},
 '9960': {'name': 'frozen'},
 '8574': {'name': 'woxic'},
 '11816': {'name': 'ropz'},
 '2730': {'name': 'chrisJ'},
 '10394': {'name': 'Twistzz'},
 '8797': {'name': 'Stewie2K'},
 '8738': {'name': 'EliGE'},
 '8520': {'name': 'NAF'},
 '7687': {'name': 'nitr0'},
 '3849': {'name': 'JW'},
 '13666': {'name': 'Brollan'},
 '3055': {'name': 'flusha'},
 '11110': {'name': 'Golden'},
 '7528': {'name': 'KRIMZ'},
 '11219': {'name': 'CeRq'},
 '10671': {'name': 'Ethan'},
 '8523': {'name': 'tarik'},
 '9136': {'name': 'Brehze'},
 '8507': {'name': 'stanislaw'},
 '1225': {'name': 'shox'},
 '7169': {'name': 'RpK'},
 '8184': {'name': 'ALEX'},
 '11893': {'name': 'ZywOo'},
 '7322': {'name': 'apEX'},
 '8082': {'name': 'AZR'},
 '10588': {'name': 'Liazz'},
 '8248': {'name': 'jkaem'},
 '9686': {'name': 'Gratisfaction'},
 '4679': {'name': 'jks'},
 '11840': {'name': 'Boombl4'},
 '7998': {'name': 's1mple'},
 '8918': {'name': 'electronic'},
 '2757': {'name': 'GuardiaN'},
 '7594': {'name': 'flamie'},
 '18053': {'name': 'broky'},
 '885': {'name': 'olofmeister'},
 '3741': {'name': 'NiKo'},
 '8183': {'name': 'rain'},
 '9216': {'name': 'coldzera'},
 '7167': {'name': 'kennyS'},
 '3972': {'name': 'huNter-'},
 '9616': {'name': 'AmaNEk'},
 '9618': {'name': 'nexa'},
 '284': {'name': 'JaCkz'},
 '9278': {'name': 'REZ'},
 '7443': {'name': 'twist'},
 '14218': {'name': 'Plopski'},
 '29': {'name': 'f0rest'},
 '9261': {'name': 'Lekr0'},
 '7248': {'name': 'xseveN'},
 '4076': {'name': 'Aerial'},
 '695': {'name': 'allu'},
 '11916': {'name': 'sergej'},
 '5479': {'name': 'suNny'},
 '11654': {'name': 'almazer'},
 '12733': {'name': 'xsepower'},
 '13157': {'name': 'Jerry'},
 '12732': {'name': 'FL1T'},
 '8726': {'name': 'facecrack'},
 '5736': {'name': 'kNgV-'},
 '2023': {'name': 'FalleN'},
 '9217': {'name': 'TACO'},
 '8564': {'name': 'fer'},
 '14737': {'name': 'meyern'},
 '12822': {'name': 'VINI'},
 '12521': {'name': 'arT'},
 '15631': {'name': 'KSCERATO'},
 '12553': {'name': 'yuurih'},
 '8566': {'name': 'LUCAS1'},
 '8611': {'name': 'es3tag'},
 '922': {'name': 'Snappi'},
 '9896': {'name': 'b0RUP'},
 '10994': {'name': 'stavn'},
 '7964': {'name': 'cadiaN'},
 '11630': {'name': 'JT'},
 '13230': {'name': 'motm'},
 '13249': {'name': 'oSee'},
 '12713': {'name': 'floppy'},
 '8711': {'name': 'Sonic'},
 '14148': {'name': 'sjuush'},
 '9612': {'name': 'Bubzkji'},
 '7415': {'name': 'HUNDEN'},
 '14419': {'name': 'roeJ'},
 '10330': {'name': 'acoR'},
 '334': {'name': 'AdreN'},
 '11942': {'name': 'buster'},
 '13776': {'name': 'Jame'},
 '13239': {'name': 'qikert'},
 '11716': {'name': 'SANJI'}}

In [19]:
df_player.head()

,map_id,map,date,team_id,team_name,player_id,player_name,kills,hs_kills,assists,flash_assists,deaths,KAST,kill_death_diff,ADR,first_kills_diff,rating,kills_per_round,deaths_per_round,impact
0,12838,NaN,1347562800000,4411,NiP,39,GeT_RiGhT,27,0,0,0,10,NaN,17,NaN,2,2.12,NaN,NaN,NaN
1,12839,NaN,1347562800000,4411,NiP,39,GeT_RiGhT,18,0,0,0,4,NaN,14,NaN,1,1.92,NaN,NaN,NaN
2,12840,NaN,1347562800000,4444,Blight,7158,Helsing,18,0,0,0,4,NaN,14,NaN,-1,1.91,NaN,NaN,NaN
3,12841,NaN,1347562800000,4444,Blight,7158,Helsing,25,0,0,0,11,NaN,14,NaN,3,1.64,NaN,NaN,NaN
4,12848,NaN,1348401600000,4411,NiP,884,Xizt,30,16,0,0,21,NaN,9,NaN,3,1.32,NaN,NaN,NaN

In [18]:
print( 'Number of unique players     = ', len(df_player.player_id.unique()) )
print( 'Number of unique teams       = ', len(df_player.team_id.unique()) )
print( 'Number of unique maps played = ', len(df_team.map_id.unique()) )
print( 'Number of unique events      = ', len(df_team.event_id.unique()) )

Number of unique players     =  13512
Number of unique teams       =  4713
Number of unique maps played =  73848
Number of unique events      =  3553

In [113]:
df_player.sort_values(by='date',ascending=False).head()

,map_id,map,date,team_id,team_name,player_id,player_name,kills,hs_kills,assists,flash_assists,deaths,KAST,kill_death_diff,ADR,first_kills_diff,rating,kills_per_round,deaths_per_round,impact
723015,97592,nuke,1578618000000,10330,Supremacy,14557,Guepard,10,7,6,2,14,75.0,-4,64.3,-2,0.93,0.42,0.58,0.59
645787,97594,inf,1578618000000,10578,Infamous,19889,Knight,20,14,5,2,19,78.6,1,89.6,0,1.16,0.71,0.68,0.86
614893,97592,nuke,1578618000000,10578,Infamous,9197,gianco,16,4,3,0,18,66.7,-2,75.0,-4,0.86,0.67,0.75,0.63
707571,97594,inf,1578618000000,10578,Infamous,19137,LKN,15,10,4,0,20,57.1,-5,67.6,-4,0.80,0.54,0.71,0.82
707569,97592,nuke,1578618000000,10578,Infamous,12336,kevz,10,2,6,1,19,50.0,-9,54.8,2,0.65,0.42,0.79,0.88

In [114]:
df_team.sort_values(by='date_unix',ascending=False).head()

,map_id,map,date_unix,date_human_utc,event_id,event_name,team_id,team_name,team_score,team_kills,team_deaths,team_assists
147694,97594,inf,1578618000000,2020-01-10 01:00:00,5164,Aorus League 2019 #4 Northern Cone,10578,Infamous,12,93.0,100.0,17.0
132248,97594,inf,1578618000000,2020-01-10 01:00:00,5164,Aorus League 2019 #4 Northern Cone,10330,Supremacy,16,99.0,93.0,16.0
147692,97592,nuke,1578618000000,2020-01-10 01:00:00,5164,Aorus League 2019 #4 Northern Cone,10578,Infamous,8,69.0,98.0,13.0
132246,97592,nuke,1578618000000,2020-01-10 01:00:00,5164,Aorus League 2019 #4 Northern Cone,10330,Supremacy,16,98.0,69.0,17.0
147695,97595,inf,1578616500000,2020-01-10 00:35:00,5104,IEM Katowice 2020 North America Closed Qualifier,9215,MIBR,12,90.0,100.0,16.0

In [70]:
team_id_nip = 4411
df_nip = df_team[ df_team['team_id']==team_id_nip ]

df_nip = df_nip.sort_values(by='date_unix',ascending=True)

init_flag = False

start_time = time.time()

df_player_nip = df_player[ (df_player['team_id']==team_id_nip) ]

date_vec =  []
date_vec.append( df_nip['date_unix'][0] )

for map_id in df_nip['map_id']:
    
    if init_flag:
        df_prev = df_tmp

    # df_tmp = df_player[ (df_player['map_id']==map_id) & (df_player['team_id']==team_id_nip) ]

    df_tmp = df_player_nip[ df_player_nip['map_id']==map_id ]

    if init_flag and (set(df_tmp.player_id) != set(df_prev.player_id)):
        print( df_prev.date.unique() )
        print( df_prev.player_name.unique())

        # Store the date where the changes where made
        date_vec.append( df_prev.date.unique()[0] )
        
    init_flag = True
    
print("--- %s seconds ---" % (time.time() - start_time))

df_nip.head()

[1400526900000]
['GeT_RiGhT' 'Xizt' 'friberg' 'f0rest' 'Fifflaren']
[1400526900000]
['Xizt' 'karrigan' 'Fifflaren' 'friberg' 'GeT_RiGhT']
[1402954200000]
['Fifflaren' 'GeT_RiGhT' 'Xizt' 'friberg' 'f0rest']
[1403442000000]
['f0rest' 'Fifflaren' 'GeT_RiGhT' 'Xizt' 'pita']
[1406736000000]
['GeT_RiGhT' 'f0rest' 'Xizt' 'friberg' 'Fifflaren']
[1406745300000]
['tonyblack' 'Edward' 'f0rest' 'Xizt' 'Fifflaren']
[1406745300000]
['starix' 'GeT_RiGhT' 'f0rest' 'Xizt' 'friberg']
[1409589900000]
['f0rest' 'friberg' 'GeT_RiGhT' 'Xizt' 'Fifflaren']
[1409780400000]
['GeT_RiGhT' 'Xizt' 'f0rest' 'Fifflaren' 'pyth']
[1412280600000]
['GeT_RiGhT' 'Fifflaren' 'Xizt' 'f0rest' 'friberg']
[1412622000000]
['wantz' 'friberg' 'Xizt' 'f0rest' 'GeT_RiGhT']
[1414769400000]
['f0rest' 'GeT_RiGhT' 'Xizt' 'Fifflaren' 'friberg']
[1423332000000]
['GeT_RiGhT' 'Xizt' 'f0rest' 'friberg' 'Maikelele']
[1424199000000]
['friberg' 'Delpan' 'Xizt' 'GeT_RiGhT' 'f0rest']
[1432227600000]
['f0rest' 'allu' 'Xizt' 'GeT_RiGhT' 'friberg']
[1432407600000]
['Next' 'f0rest' 'GeT_RiGhT' 'Xizt' 'friberg']
[1447264800000]
['GeT_RiGhT' 'f0rest' 'allu' 'Xizt' 'friberg']
[1447441800000]
['Delpan' 'friberg' 'allu' 'GeT_RiGhT' 'Xizt']
[1447448400000]
['f0rest' 'friberg' 'Xizt' 'allu' 'GeT_RiGhT']
[1447610400000]
['Delpan' 'GeT_RiGhT' 'f0rest' 'friberg' 'allu']
[1449423510000]
['GeT_RiGhT' 'f0rest' 'friberg' 'Xizt' 'allu']
[1458765000000]
['GeT_RiGhT' 'friberg' 'f0rest' 'Xizt' 'pyth']
[1459512000000]
['f0rest' 'Xizt' 'GeT_RiGhT' 'friberg' 'THREAT']
[1469232000000]
['GeT_RiGhT' 'pyth' 'Xizt' 'f0rest' 'friberg']
[1472150700000]
['GeT_RiGhT' 'Xizt' 'f0rest' 'friberg' 'disco doplan']
[1478373900000]
['Xizt' 'f0rest' 'friberg' 'Maikelele' 'GeT_RiGhT']
[1480078800000]
['GeT_RiGhT' 'f0rest' 'pyth' 'Xizt' 'friberg']
[1480089600000]
['f0rest' 'GeT_RiGhT' 'Xizt' 'freddieb' 'pyth']
[1489091400000]
['GeT_RiGhT' 'f0rest' 'Xizt' 'pyth' 'friberg']
[1495980000000]
['draken' 'Xizt' 'GeT_RiGhT' 'friberg' 'f0rest']
[1496858400000]
['s1mple' 'GeT_RiGhT' 'draken' 'Xizt' 'flamie']
[1518221700000]
['GeT_RiGhT' 'REZ' 'f0rest' 'draken' 'Xizt']
[1527948000000]
['f0rest' 'REZ' 'dennis' 'GeT_RiGhT' 'draken']
[1551461700000]
['REZ' 'f0rest' 'Lekr0' 'dennis' 'GeT_RiGhT']
[1554456900000]
['draken' 'REZ' 'f0rest' 'Lekr0' 'GeT_RiGhT']
[1558455600000]
['Lekr0' 'dennis' 'GeT_RiGhT' 'f0rest' 'REZ']
[1559154000000]
['f0rest' 'REZ' 'pita' 'GeT_RiGhT' 'Lekr0']
[1559890800000]
['GeT_RiGhT' 'dennis' 'f0rest' 'REZ' 'Lekr0']
[1566127800000]
['Plopski' 'f0rest' 'GeT_RiGhT' 'REZ' 'Lekr0']
[1567179000000]
['Lekr0' 'REZ' 'GeT_RiGhT' 'Golden' 'f0rest']
[1569061200000]
['f0rest' 'Lekr0' 'Plopski' 'GeT_RiGhT' 'REZ']
--- 2.6731276512145996 seconds ---

,map_id,map,date_unix,date_human_utc,event_id,event_name,team_id,team_name,team_score,team_kills,team_deaths,team_assists
0,12838,NaN,1347562800000,2012-09-13 19:00:00,965,Go4CS:GO Cup #6,4411,NiP,16,91.0,46.0,0.0
1,12839,NaN,1347562800000,2012-09-13 19:00:00,965,Go4CS:GO Cup #6,4411,NiP,16,83.0,34.0,0.0
21,12868,NaN,1348254000000,2012-09-21 19:00:00,973,DreamHack Valencia 2012,4411,NiP,16,83.0,29.0,0.0
13,12860,NaN,1348335900000,2012-09-22 17:45:00,973,DreamHack Valencia 2012,4411,NiP,16,83.0,25.0,0.0
14,12861,NaN,1348341300000,2012-09-22 19:15:00,973,DreamHack Valencia 2012,4411,NiP,16,100.0,71.0,0.0

In [106]:
# Get the win/loss rate between the dates
size_date = len(date_vec)

win_count  = []
tie_count  = []
loss_count = []

for ind in range(0,size_date-1):
    df_tmp = df_team[ (df_team['team_id']==team_id_nip) & (df_team['date_unix'] >= date_vec[ind]) & (df_team['date_unix'] < date_vec[ind+1] ) ]

    win_count.append( 0 )
    tie_count.append( 0 )
    loss_count.append( 0 )

    for map_id in df_tmp['map_id']:
        score_op  = df_team[ (df_team['team_id']!=team_id_nip) & (df_team['map_id']==map_id) ]['team_score'].values[0]
        score_nip = df_tmp[ (df_tmp['map_id']==map_id) ]['team_score'].values[0]
        
        if score_nip > score_op:
            win_count[ind] = win_count[ind]+1
        elif score_nip < score_op:
            loss_count[ind] = loss_count[ind]+1
        else:
            tie_count[ind] = tie_count[ind]+1


       # print([score_op,score_nip]) 

total_count = win_count + tie_count + loss_count

df_tmp.head()

,map_id,map,date_unix,date_human_utc,event_id,event_name,team_id,team_name,team_score,team_kills,team_deaths,team_assists
126291,90808,trn,1567179000000,2019-08-30 15:30:00,4443,StarLadder Major 2019,4411,NiP,8,63.0,88.0,5.0
126294,90816,d2,1567179000000,2019-08-30 15:30:00,4443,StarLadder Major 2019,4411,NiP,4,39.0,90.0,2.0
126849,91446,ovp,1568389500000,2019-09-13 15:45:00,4686,BLAST Pro Series Moscow 2019,4411,NiP,16,99.0,96.0,15.0
126853,91450,trn,1568395200000,2019-09-13 17:20:00,4686,BLAST Pro Series Moscow 2019,4411,NiP,15,90.0,97.0,15.0
126913,91517,d2,1568455500000,2019-09-14 10:05:00,4686,BLAST Pro Series Moscow 2019,4411,NiP,8,63.0,87.0,10.0

In [107]:
print( win_count[:50] )
print( loss_count[:50] )
print( tie_count[:50] )
print( total_count[:50] )

[310, 0, 12, 2, 9, 2, 0, 17, 2, 16, 1, 5, 28, 2, 59, 0, 79, 0, 1, 1, 9, 18, 4, 47, 6, 31, 16, 0, 9, 25, 1, 74, 45, 73, 14, 16, 1, 0, 9, 2, 4]
[69, 0, 5, 0, 7, 1, 0, 12, 3, 16, 0, 10, 15, 3, 40, 1, 50, 1, 0, 0, 5, 10, 2, 30, 5, 15, 7, 3, 20, 27, 1, 54, 35, 71, 14, 14, 4, 3, 12, 3, 5]
[2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 2]
[310, 0, 12, 2, 9, 2, 0, 17, 2, 16, 1, 5, 28, 2, 59, 0, 79, 0, 1, 1, 9, 18, 4, 47, 6, 31, 16, 0, 9, 25, 1, 74, 45, 73, 14, 16, 1, 0, 9, 2, 4, 2, 0, 0, 0, 0, 0, 0, 0, 0]

In [79]:
df_team.head()

,map_id,map,date_unix,date_human_utc,event_id,event_name,team_id,team_name,team_score,team_kills,team_deaths,team_assists
0,12838,NaN,1347562800000,2012-09-13 19:00:00,965,Go4CS:GO Cup #6,4411,NiP,16,91.0,46.0,0.0
1,12839,NaN,1347562800000,2012-09-13 19:00:00,965,Go4CS:GO Cup #6,4411,NiP,16,83.0,34.0,0.0
2,12840,NaN,1347562800000,2012-09-13 19:00:00,966,CyberGamer Qualifier Cup #1 by Tt eSPORTS,4444,Blight,16,81.0,37.0,0.0
3,12841,NaN,1347562800000,2012-09-13 19:00:00,966,CyberGamer Qualifier Cup #1 by Tt eSPORTS,4444,Blight,16,97.0,58.0,0.0
4,12848,NaN,1348401600000,2012-09-23 12:00:00,973,DreamHack Valencia 2012,4411,NiP,16,102.0,86.0,0.0

In [85]:
df_nip.head()
df_nip['team_id'].values[0]

4411

In [104]:
len(date_vec)

42

In [105]:
len(df_nip)

1597