In [1]:
# Modues to be used
import pandas as pd
import matplotlib.pyplot as plt
import time
import numpy as np
import seaborn as sns

# Global variables
MASTER_CSV_PATH = '~/Desktop/csgo-csv/'

In [5]:
## READ DATE FROM MASTER ##

# Read the data from all years
year_vec = ['2012','2013','2014','2015','2016','2017','2018','2019']

# year_vec = ['2019']

# Empty data frames
df_player = pd.DataFrame( { } )
df_team   = pd.DataFrame( { } )

# Append the data from each year
for year in year_vec:
        
    file_name = MASTER_CSV_PATH + year + '-player-lvl.csv'
    df_player = df_player.append( pd.read_csv( file_name ), ignore_index=True, sort=False )
    
    file_name = MASTER_CSV_PATH + year + '-team-lvl.csv'
    df_team   = df_team.append( pd.read_csv( file_name ), ignore_index=True, sort=False )

In [23]:
len( df_team.event_id.unique() )
# df_team.event_id.unique()

df_team_sorted = df_team.sort_values( by='date_unix', ascending=False)

df_team_sorted.head()

,map_id,map,date_unix,date_human_utc,event_id,event_name,team_id,team_name,team_score,team_kills,team_deaths,team_assists
147694,97594,inf,1578618000000,2020-01-10 01:00:00,5164,Aorus League 2019 #4 Northern Cone,10578,Infamous,12,93.0,100.0,17.0
132248,97594,inf,1578618000000,2020-01-10 01:00:00,5164,Aorus League 2019 #4 Northern Cone,10330,Supremacy,16,99.0,93.0,16.0
147692,97592,nuke,1578618000000,2020-01-10 01:00:00,5164,Aorus League 2019 #4 Northern Cone,10578,Infamous,8,69.0,98.0,13.0
132246,97592,nuke,1578618000000,2020-01-10 01:00:00,5164,Aorus League 2019 #4 Northern Cone,10330,Supremacy,16,98.0,69.0,17.0
147695,97595,inf,1578616500000,2020-01-10 00:35:00,5104,IEM Katowice 2020 North America Closed Qualifier,9215,MIBR,12,90.0,100.0,16.0

In [25]:
len( df_team.map_id.unique() )
event_id_vec = df_team_sorted.event_id.unique()

print(event_id_vec)

np.savetxt('event_ids.txt',event_id_vec,fmt='%i')

[5164 5104 5110 ...  973  966  965]