In [64]:
# Modues to be used
import pandas as pd
import matplotlib.pyplot as plt
import time
import numpy as np
import json
# import csgostats

# Global variables
# MASTER_CSV_PATH = '~/Dropbox/csgo-csv/'
MASTER_CSV_PATH = '~/Desktop/csgo-csv/'

In [51]:
## READ DATE FROM MASTER ##

# Read the data from all years
#year_vec = ['2012','2013','2014','2015','2016','2017','2018','2019']

year_vec = ['2019']

# Empty data frames
df_player = pd.DataFrame( { } )
df_team   = pd.DataFrame( { } )

# Append the data from each year
for year in year_vec:
        
    file_name = MASTER_CSV_PATH + year + '-player-lvl.csv'
    df_player = df_player.append( pd.read_csv( file_name ), ignore_index=True, sort=False )
    
    file_name = MASTER_CSV_PATH + year + '-team-lvl.csv'
    df_team   = df_team.append( pd.read_csv( file_name ), ignore_index=True, sort=False )

In [21]:
#df_new = pd.DataFrame( data=df_team['team_name'].unique(), columns=['Team Name'], index=None )

#df_new.to_csv('team_names.csv')

In [22]:
#df_new = pd.DataFrame( data=df_player['player_name'].unique(), columns=['Player Name'], index=None )

#df_new.to_csv('player_names.csv')

In [87]:
team_id_vec = [6665,4494,5973,4991,10399,9565,8474,4608,6667,5995]
team_name_vec = []

dic_team = {}
dic_team_players = {}

df_player = df_player.sort_values(by='date',ascending=False)

dic_players={}

for ind in range(0,len(team_id_vec)):
    dic_team[team_id_vec[ind]] = {}
    dic_team[team_id_vec[ind]]['team_name'] = df_team[df_team['team_id']==team_id_vec[ind]].team_name.unique()[0]
    
    dic_team_players[team_id_vec[ind]] = {}
    #dic_team_players[team_id_vec[ind]]['player_id'] = {}
    #dic_team_players[team_id_vec[ind]]['player_name'] = {}
    for ind2 in range(0,5):        
        player_id = str(df_player[df_player['team_id']==team_id_vec[ind]].player_id.unique()[ind2])
        dic_team_players[team_id_vec[ind]][player_id] = {}
        dic_team_players[team_id_vec[ind]][player_id]['name'] = {}
        dic_team_players[team_id_vec[ind]][player_id]['name'] = str(df_player[df_player['team_id']==team_id_vec[ind]].player_name.unique()[ind2])

        dic_players[player_id] = {}
        dic_players[player_id]['name'] = str(df_player[df_player['team_id']==team_id_vec[ind]].player_name.unique()[ind2])
        
        # dic_team_players[team_id_vec[ind]]['player_id'][ind2]   = str(df_player[df_player['team_id']==team_id_vec[ind]].player_id.unique()[ind2])
        # dic_team_players[team_id_vec[ind]]['player_name'][ind2] = str(df_player[df_player['team_id']==team_id_vec[ind]].player_name.unique()[ind2])

team_name_vec
#df = pd.Dataframe(  )
dic_team


df_player.head()

#df_player[df_player['team_id']==team_id_vec[0]].player_id.unique()
#df_player[df_player['team_id']==team_id_vec[0]]
#len(df_player)
dic_team_players

json_tmp = json.dumps(dic_team)
f = open("dict_team.json","w")
f.write(json_tmp)
f.close()

json_tmp = json.dumps(dic_team_players)
f = open("dict_team_players.json","w")
f.write(json_tmp)
f.close()

json_tmp = json.dumps(dic_players)
f = open("dict_players.json","w")
f.write(json_tmp)
f.close()

In [86]:
dic_team
dic_team_players

{6665: {'9032': {'name': 'Magisk'},
  '7592': {'name': 'device'},
  '4954': {'name': 'Xyp9x'},
  '7412': {'name': 'gla1ve'},
  '7398': {'name': 'dupreeh'}},
 4494: {'429': {'name': 'karrigan'},
  '8574': {'name': 'woxic'},
  '2730': {'name': 'chrisJ'},
  '11816': {'name': 'ropz'},
  '9960': {'name': 'frozen'}},
 5973: {'7687': {'name': 'nitr0'},
  '8797': {'name': 'Stewie2K'},
  '8520': {'name': 'NAF'},
  '10394': {'name': 'Twistzz'},
  '8738': {'name': 'EliGE'}},
 4991: {'3055': {'name': 'flusha'},
  '7528': {'name': 'KRIMZ'},
  '11110': {'name': 'Golden'},
  '3849': {'name': 'JW'},
  '13666': {'name': 'Brollan'}},
 10399: {'8507': {'name': 'stanislaw'},
  '10671': {'name': 'Ethan'},
  '9136': {'name': 'Brehze'},
  '11219': {'name': 'CeRq'},
  '8523': {'name': 'tarik'}},
 9565: {'8184': {'name': 'ALEX'},
  '11893': {'name': 'ZywOo'},
  '7322': {'name': 'apEX'},
  '1225': {'name': 'shox'},
  '7169': {'name': 'RpK'}},
 8474: {'10588': {'name': 'Liazz'},
  '8248': {'name': 'jkaem'},
  '8082': {'name': 'AZR'},
  '4679': {'name': 'jks'},
  '9686': {'name': 'Gratisfaction'}},
 4608: {'8918': {'name': 'electronic'},
  '2757': {'name': 'GuardiaN'},
  '7594': {'name': 'flamie'},
  '7998': {'name': 's1mple'},
  '11840': {'name': 'Boombl4'}},
 6667: {'9216': {'name': 'coldzera'},
  '18053': {'name': 'broky'},
  '3741': {'name': 'NiKo'},
  '8183': {'name': 'rain'},
  '885': {'name': 'olofmeister'}},
 5995: {'3972': {'name': 'huNter-'},
  '9618': {'name': 'nexa'},
  '284': {'name': 'JaCkz'},
  '9616': {'name': 'AmaNEk'},
  '7167': {'name': 'kennyS'}}}

In [19]:
df_player.head()

,map_id,map,date,team_id,team_name,player_id,player_name,kills,hs_kills,assists,flash_assists,deaths,KAST,kill_death_diff,ADR,first_kills_diff,rating,kills_per_round,deaths_per_round,impact
0,12838,NaN,1347562800000,4411,NiP,39,GeT_RiGhT,27,0,0,0,10,NaN,17,NaN,2,2.12,NaN,NaN,NaN
1,12839,NaN,1347562800000,4411,NiP,39,GeT_RiGhT,18,0,0,0,4,NaN,14,NaN,1,1.92,NaN,NaN,NaN
2,12840,NaN,1347562800000,4444,Blight,7158,Helsing,18,0,0,0,4,NaN,14,NaN,-1,1.91,NaN,NaN,NaN
3,12841,NaN,1347562800000,4444,Blight,7158,Helsing,25,0,0,0,11,NaN,14,NaN,3,1.64,NaN,NaN,NaN
4,12848,NaN,1348401600000,4411,NiP,884,Xizt,30,16,0,0,21,NaN,9,NaN,3,1.32,NaN,NaN,NaN

In [18]:
print( 'Number of unique players     = ', len(df_player.player_id.unique()) )
print( 'Number of unique teams       = ', len(df_player.team_id.unique()) )
print( 'Number of unique maps played = ', len(df_team.map_id.unique()) )
print( 'Number of unique events      = ', len(df_team.event_id.unique()) )

Number of unique players     =  13512
Number of unique teams       =  4713
Number of unique maps played =  73848
Number of unique events      =  3553

In [113]:
df_player.sort_values(by='date',ascending=False).head()

,map_id,map,date,team_id,team_name,player_id,player_name,kills,hs_kills,assists,flash_assists,deaths,KAST,kill_death_diff,ADR,first_kills_diff,rating,kills_per_round,deaths_per_round,impact
723015,97592,nuke,1578618000000,10330,Supremacy,14557,Guepard,10,7,6,2,14,75.0,-4,64.3,-2,0.93,0.42,0.58,0.59
645787,97594,inf,1578618000000,10578,Infamous,19889,Knight,20,14,5,2,19,78.6,1,89.6,0,1.16,0.71,0.68,0.86
614893,97592,nuke,1578618000000,10578,Infamous,9197,gianco,16,4,3,0,18,66.7,-2,75.0,-4,0.86,0.67,0.75,0.63
707571,97594,inf,1578618000000,10578,Infamous,19137,LKN,15,10,4,0,20,57.1,-5,67.6,-4,0.80,0.54,0.71,0.82
707569,97592,nuke,1578618000000,10578,Infamous,12336,kevz,10,2,6,1,19,50.0,-9,54.8,2,0.65,0.42,0.79,0.88

In [114]:
df_team.sort_values(by='date_unix',ascending=False).head()

,map_id,map,date_unix,date_human_utc,event_id,event_name,team_id,team_name,team_score,team_kills,team_deaths,team_assists
147694,97594,inf,1578618000000,2020-01-10 01:00:00,5164,Aorus League 2019 #4 Northern Cone,10578,Infamous,12,93.0,100.0,17.0
132248,97594,inf,1578618000000,2020-01-10 01:00:00,5164,Aorus League 2019 #4 Northern Cone,10330,Supremacy,16,99.0,93.0,16.0
147692,97592,nuke,1578618000000,2020-01-10 01:00:00,5164,Aorus League 2019 #4 Northern Cone,10578,Infamous,8,69.0,98.0,13.0
132246,97592,nuke,1578618000000,2020-01-10 01:00:00,5164,Aorus League 2019 #4 Northern Cone,10330,Supremacy,16,98.0,69.0,17.0
147695,97595,inf,1578616500000,2020-01-10 00:35:00,5104,IEM Katowice 2020 North America Closed Qualifier,9215,MIBR,12,90.0,100.0,16.0

In [70]:
team_id_nip = 4411
df_nip = df_team[ df_team['team_id']==team_id_nip ]

df_nip = df_nip.sort_values(by='date_unix',ascending=True)

init_flag = False

start_time = time.time()

df_player_nip = df_player[ (df_player['team_id']==team_id_nip) ]

date_vec =  []
date_vec.append( df_nip['date_unix'][0] )

for map_id in df_nip['map_id']:
    
    if init_flag:
        df_prev = df_tmp

    # df_tmp = df_player[ (df_player['map_id']==map_id) & (df_player['team_id']==team_id_nip) ]

    df_tmp = df_player_nip[ df_player_nip['map_id']==map_id ]

    if init_flag and (set(df_tmp.player_id) != set(df_prev.player_id)):
        print( df_prev.date.unique() )
        print( df_prev.player_name.unique())

        # Store the date where the changes where made
        date_vec.append( df_prev.date.unique()[0] )
        
    init_flag = True
    
print("--- %s seconds ---" % (time.time() - start_time))

df_nip.head()

[1400526900000]
['GeT_RiGhT' 'Xizt' 'friberg' 'f0rest' 'Fifflaren']
[1400526900000]
['Xizt' 'karrigan' 'Fifflaren' 'friberg' 'GeT_RiGhT']
[1402954200000]
['Fifflaren' 'GeT_RiGhT' 'Xizt' 'friberg' 'f0rest']
[1403442000000]
['f0rest' 'Fifflaren' 'GeT_RiGhT' 'Xizt' 'pita']
[1406736000000]
['GeT_RiGhT' 'f0rest' 'Xizt' 'friberg' 'Fifflaren']
[1406745300000]
['tonyblack' 'Edward' 'f0rest' 'Xizt' 'Fifflaren']
[1406745300000]
['starix' 'GeT_RiGhT' 'f0rest' 'Xizt' 'friberg']
[1409589900000]
['f0rest' 'friberg' 'GeT_RiGhT' 'Xizt' 'Fifflaren']
[1409780400000]
['GeT_RiGhT' 'Xizt' 'f0rest' 'Fifflaren' 'pyth']
[1412280600000]
['GeT_RiGhT' 'Fifflaren' 'Xizt' 'f0rest' 'friberg']
[1412622000000]
['wantz' 'friberg' 'Xizt' 'f0rest' 'GeT_RiGhT']
[1414769400000]
['f0rest' 'GeT_RiGhT' 'Xizt' 'Fifflaren' 'friberg']
[1423332000000]
['GeT_RiGhT' 'Xizt' 'f0rest' 'friberg' 'Maikelele']
[1424199000000]
['friberg' 'Delpan' 'Xizt' 'GeT_RiGhT' 'f0rest']
[1432227600000]
['f0rest' 'allu' 'Xizt' 'GeT_RiGhT' 'friberg']
[1432407600000]
['Next' 'f0rest' 'GeT_RiGhT' 'Xizt' 'friberg']
[1447264800000]
['GeT_RiGhT' 'f0rest' 'allu' 'Xizt' 'friberg']
[1447441800000]
['Delpan' 'friberg' 'allu' 'GeT_RiGhT' 'Xizt']
[1447448400000]
['f0rest' 'friberg' 'Xizt' 'allu' 'GeT_RiGhT']
[1447610400000]
['Delpan' 'GeT_RiGhT' 'f0rest' 'friberg' 'allu']
[1449423510000]
['GeT_RiGhT' 'f0rest' 'friberg' 'Xizt' 'allu']
[1458765000000]
['GeT_RiGhT' 'friberg' 'f0rest' 'Xizt' 'pyth']
[1459512000000]
['f0rest' 'Xizt' 'GeT_RiGhT' 'friberg' 'THREAT']
[1469232000000]
['GeT_RiGhT' 'pyth' 'Xizt' 'f0rest' 'friberg']
[1472150700000]
['GeT_RiGhT' 'Xizt' 'f0rest' 'friberg' 'disco doplan']
[1478373900000]
['Xizt' 'f0rest' 'friberg' 'Maikelele' 'GeT_RiGhT']
[1480078800000]
['GeT_RiGhT' 'f0rest' 'pyth' 'Xizt' 'friberg']
[1480089600000]
['f0rest' 'GeT_RiGhT' 'Xizt' 'freddieb' 'pyth']
[1489091400000]
['GeT_RiGhT' 'f0rest' 'Xizt' 'pyth' 'friberg']
[1495980000000]
['draken' 'Xizt' 'GeT_RiGhT' 'friberg' 'f0rest']
[1496858400000]
['s1mple' 'GeT_RiGhT' 'draken' 'Xizt' 'flamie']
[1518221700000]
['GeT_RiGhT' 'REZ' 'f0rest' 'draken' 'Xizt']
[1527948000000]
['f0rest' 'REZ' 'dennis' 'GeT_RiGhT' 'draken']
[1551461700000]
['REZ' 'f0rest' 'Lekr0' 'dennis' 'GeT_RiGhT']
[1554456900000]
['draken' 'REZ' 'f0rest' 'Lekr0' 'GeT_RiGhT']
[1558455600000]
['Lekr0' 'dennis' 'GeT_RiGhT' 'f0rest' 'REZ']
[1559154000000]
['f0rest' 'REZ' 'pita' 'GeT_RiGhT' 'Lekr0']
[1559890800000]
['GeT_RiGhT' 'dennis' 'f0rest' 'REZ' 'Lekr0']
[1566127800000]
['Plopski' 'f0rest' 'GeT_RiGhT' 'REZ' 'Lekr0']
[1567179000000]
['Lekr0' 'REZ' 'GeT_RiGhT' 'Golden' 'f0rest']
[1569061200000]
['f0rest' 'Lekr0' 'Plopski' 'GeT_RiGhT' 'REZ']
--- 2.6731276512145996 seconds ---

,map_id,map,date_unix,date_human_utc,event_id,event_name,team_id,team_name,team_score,team_kills,team_deaths,team_assists
0,12838,NaN,1347562800000,2012-09-13 19:00:00,965,Go4CS:GO Cup #6,4411,NiP,16,91.0,46.0,0.0
1,12839,NaN,1347562800000,2012-09-13 19:00:00,965,Go4CS:GO Cup #6,4411,NiP,16,83.0,34.0,0.0
21,12868,NaN,1348254000000,2012-09-21 19:00:00,973,DreamHack Valencia 2012,4411,NiP,16,83.0,29.0,0.0
13,12860,NaN,1348335900000,2012-09-22 17:45:00,973,DreamHack Valencia 2012,4411,NiP,16,83.0,25.0,0.0
14,12861,NaN,1348341300000,2012-09-22 19:15:00,973,DreamHack Valencia 2012,4411,NiP,16,100.0,71.0,0.0

In [106]:
# Get the win/loss rate between the dates
size_date = len(date_vec)

win_count  = []
tie_count  = []
loss_count = []

for ind in range(0,size_date-1):
    df_tmp = df_team[ (df_team['team_id']==team_id_nip) & (df_team['date_unix'] >= date_vec[ind]) & (df_team['date_unix'] < date_vec[ind+1] ) ]

    win_count.append( 0 )
    tie_count.append( 0 )
    loss_count.append( 0 )

    for map_id in df_tmp['map_id']:
        score_op  = df_team[ (df_team['team_id']!=team_id_nip) & (df_team['map_id']==map_id) ]['team_score'].values[0]
        score_nip = df_tmp[ (df_tmp['map_id']==map_id) ]['team_score'].values[0]
        
        if score_nip > score_op:
            win_count[ind] = win_count[ind]+1
        elif score_nip < score_op:
            loss_count[ind] = loss_count[ind]+1
        else:
            tie_count[ind] = tie_count[ind]+1


       # print([score_op,score_nip]) 

total_count = win_count + tie_count + loss_count

df_tmp.head()

,map_id,map,date_unix,date_human_utc,event_id,event_name,team_id,team_name,team_score,team_kills,team_deaths,team_assists
126291,90808,trn,1567179000000,2019-08-30 15:30:00,4443,StarLadder Major 2019,4411,NiP,8,63.0,88.0,5.0
126294,90816,d2,1567179000000,2019-08-30 15:30:00,4443,StarLadder Major 2019,4411,NiP,4,39.0,90.0,2.0
126849,91446,ovp,1568389500000,2019-09-13 15:45:00,4686,BLAST Pro Series Moscow 2019,4411,NiP,16,99.0,96.0,15.0
126853,91450,trn,1568395200000,2019-09-13 17:20:00,4686,BLAST Pro Series Moscow 2019,4411,NiP,15,90.0,97.0,15.0
126913,91517,d2,1568455500000,2019-09-14 10:05:00,4686,BLAST Pro Series Moscow 2019,4411,NiP,8,63.0,87.0,10.0

In [107]:
print( win_count[:50] )
print( loss_count[:50] )
print( tie_count[:50] )
print( total_count[:50] )

[310, 0, 12, 2, 9, 2, 0, 17, 2, 16, 1, 5, 28, 2, 59, 0, 79, 0, 1, 1, 9, 18, 4, 47, 6, 31, 16, 0, 9, 25, 1, 74, 45, 73, 14, 16, 1, 0, 9, 2, 4]
[69, 0, 5, 0, 7, 1, 0, 12, 3, 16, 0, 10, 15, 3, 40, 1, 50, 1, 0, 0, 5, 10, 2, 30, 5, 15, 7, 3, 20, 27, 1, 54, 35, 71, 14, 14, 4, 3, 12, 3, 5]
[2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 2]
[310, 0, 12, 2, 9, 2, 0, 17, 2, 16, 1, 5, 28, 2, 59, 0, 79, 0, 1, 1, 9, 18, 4, 47, 6, 31, 16, 0, 9, 25, 1, 74, 45, 73, 14, 16, 1, 0, 9, 2, 4, 2, 0, 0, 0, 0, 0, 0, 0, 0]

In [79]:
df_team.head()

,map_id,map,date_unix,date_human_utc,event_id,event_name,team_id,team_name,team_score,team_kills,team_deaths,team_assists
0,12838,NaN,1347562800000,2012-09-13 19:00:00,965,Go4CS:GO Cup #6,4411,NiP,16,91.0,46.0,0.0
1,12839,NaN,1347562800000,2012-09-13 19:00:00,965,Go4CS:GO Cup #6,4411,NiP,16,83.0,34.0,0.0
2,12840,NaN,1347562800000,2012-09-13 19:00:00,966,CyberGamer Qualifier Cup #1 by Tt eSPORTS,4444,Blight,16,81.0,37.0,0.0
3,12841,NaN,1347562800000,2012-09-13 19:00:00,966,CyberGamer Qualifier Cup #1 by Tt eSPORTS,4444,Blight,16,97.0,58.0,0.0
4,12848,NaN,1348401600000,2012-09-23 12:00:00,973,DreamHack Valencia 2012,4411,NiP,16,102.0,86.0,0.0

In [85]:
df_nip.head()
df_nip['team_id'].values[0]

4411

In [104]:
len(date_vec)

42

In [105]:
len(df_nip)

1597